<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">{% trans %}Formación{% endtrans %}</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-ver-clear">
				<div class="container pv-40">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-8">
							<h1 class="title">{% trans %}Formación{% endtrans %}</h1>
							<div class="separator-2"></div>
							<p>{% trans %}Con mayor frecuencia, se está tomando conciencia de la importancia de mantener la información de la empresa segura y a salvo. La información es un flujo dinámico en continuo movimiento que necesita vigilancia y bastionado en todos sus procesos. Esta necesidad ha llevado a HISPASEC a realizar este curso donde trataremos de dar un enfoque práctico de las amenazas y bastionados de nuestros sistemas y plataformas web.{% endtrans %}</p>
							<h3>{% trans %}Experiencia{% endtrans %}</h3>
							<p>{% trans %}HISPASEC cuenta con una amplia experiencia de más de 16 años en el sector, siendo un interlocutor del sector activo mediante la publicación del boletín de información "Una al día" donde informamos al público en general y a los profesionales en particular de lo que ocurre en el mundo de la seguridad desde una óptica fundamentalmente técnica.{% endtrans %}</p>
							<p>{% trans %}Adicionalmente es conocida nuestra participación y colaboración en congresos, universidades y distintos proyectos Europeos. Esta experiencia unifica tanto la investigación como la realidad de lo que ocurre en la empresa gracias a nuestra experiencia como auditores.{% endtrans %}</p>	
						</div>
						{# main end #}

						{# sidebar start #}
						{# ================ #}
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<img src="/static/images/services_FO_{{ lang_code }}.png" alt="">						
								</div>
							</div>
						</aside>
						{# sidebar end #}
					</div>
				</div>
			</section>
			{# main-container end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">
							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="fa fa-unlock-alt"></i></span>
										<h3>{% trans %}Seguridad en la empresa{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Concienciación de la seguridad para distintos ámbitos de la empresa y dirigidos a todo tipo de personal de la misma.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large dark-bg circle"><i class="fa fa-bug"></i></span>
										<h3>{% trans %}Malware, seguridad y bastionado{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Orientado a administradores de sistemas y profesionales de la seguridad, permite conocer las amenazas actuales y como proteger sus sistemas debidamente.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="fa fa-crosshairs "></i></span>
										<h3>{% trans %}Auditoría web o sistemas{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Orientado a administradores de sistemas y profesionales de la seguridad, permite conocer las vulnerabilidades típicas e identificar los puntos flacos de los sistemas para poder adelantarse ante cualquier intrusión.{% endtrans %}</p>
									</div>
								</div>
								<div class="clearfix visible-md"></div>
							</div>
						</div>
						{# main end #}
					</div>
				</div>
			</section>
			{# main-container end #}			

			{# section start #}
			{# ================ #}
			<section class="section background-img-2 dark-translucent-bg" style="background-position: 50% 100%;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">{% trans %}¿Interesado?{% endtrans %}</h1>
										<p>{% trans %}Nuestro departamento se pondrá en contacto con ustedes lo antes posible. No dude en consultarlo con nosotros{% endtrans %}</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="/{{ lang_code }}/contact.html" class="btn btn-lg btn-gray-transparent btn-animated" onclick="_gaq.push(['_trackEvent', 'Servicio Formacion', 'CTA', 'Consultenos']);">{% trans %}Consúltenos{% endtrans %}<i class="fa fa-envelope-o pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# section end #}

		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
